# Dependencies for storage libraries
protobuf>=3.19.5 # https://github.com/protocolbuffers/protobuf/issues/10051

# Storage
azure-core
azure-storage-blob
boto3
google-cloud-storage
minio

# Machine Learning
annoy
catboost
fastai  # Note: 1.0.61 has different import paths!
gensim
Keras-Preprocessing
lightgbm
mxnet # Note: retired as of 09/2023 https://attic.apache.org/projects/mxnet.html
onnx
onnxruntime
prophet
pyspark
pytorch-lightning
scikit-learn
shap
skl2onnx
skorch
tensorflow
torch
torchvision
transformers
xgboost
