# Demo requirements
# Versions unpinned to make it easier to test everything with
# the latest version
click

# Storage requirements
protobuf==3.20.2
google-cloud-storage
boto3
azure-core
azure-storage-blob
minio

# Data / dependencies for ML libraries
numba==0.56.4
numpy==1.23.5
python-Levenshtein==0.12.2

# Prophet
pystan==2.19.1.1 # required to be installed before prophet

# Machine learning libraries
annoy
catboost
fastai
gensim
lightgbm
mxnet
onnx==1.10.0
onnxruntime
onnxmltools
prophet
pyspark
pytorch-lightning
scikit-learn
shap
skl2onnx
skorch
tensorflow==2.9.3
transformers
torch
torchvision
xgboost==1.7.4
